services: 
  app:
    build:
      context: .
    ports:
      - 5000:80
    depends_on:
      db:
        condition: service_started
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:?database password not set}
    volumes:
      - postgres-data:/var/lib/postgresql/data
  builder:
    build:
      context: .
      target: build
  unit-tests:
    build:
      context: .
      target: build
    command: dotnet test -c Release tests/Api.Tests.Unit/ --logger trx;LogFilePrefix=/app/tests/test-results/
        /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura
        /p:CoverletOutput='/app/tests/test-results/unit-tests/'
    depends_on: 
      - builder

volumes:
  postgres-data:
