name: TestCiPipeline

on:
  workflow_dispatch:
  push:
    branches: 
      - main
      
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 
        uses: actions/checkout@v3
        
#      - name: Build solution
#      - run: docker-compose up --exit-code-from 
