name: TestCiPipeline

on:
  workflow_dispatch:
  push:
    branches: 
      - main
      
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 
        uses: actions/checkout@v3
        
      - uses: actions/setup-dotnet@v3
        with: 
          dotnet-version: '7.0.x'
      
      - name: Build solution
        run: docker-compose up --exit-code-from 
