name: TestCiPipeline

on:
  workflow_dispatch:
  push:
    branches: 
      - main
      
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 
        uses: actions/checkout@v3
        
      - name: Setup dotnet sdk
        uses: actions/setup-dotnet@v3
        with: 
          dotnet-version: '7.0.x'
      
      - name: Build solution
        run: docker-compose up --dry-run --exit-code-from builder builder
      
      - name: Run unit tests
        run: docker-compose up --dry-run --exit-code-from unit-tests unit-tests
